In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('Bookings.csv')

In [6]:
df.head(5)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Reason for Cancelling by Customer,Cancelled Rides by Driver,Reason for Cancelling by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating
0,04-01-2024,10:30:00,BLR472042,Cancelled by Driver,CUST85100,Auto,Horamavu,Ulsoor,NaN,NaN,0,NaN,1,Customer related issue,0,NaN,NaN,NaN,NaN,NaN
1,26-01-2024,18:00:00,BLR839110,Cancelled by Driver,CUST18631,Prime Sedan,Marathahalli,Sanjaynagar,NaN,NaN,0,NaN,1,More than permitted people in there,0,NaN,NaN,NaN,NaN,NaN
2,08-01-2024,15:00:00,BLR114776,Incomplete,CUST40633,eBike,Kengeri,Basaveshwaranagar,NaN,NaN,0,NaN,0,NaN,1,Customer Demand,NaN,NaN,NaN,NaN
3,30-01-2024,16:15:00,BLR804774,Cancelled by Customer,CUST30251,Mini,Koramangala,Malleshwaram,NaN,NaN,1,Driver is not moving towards pickup location,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,05-01-2024,14:15:00,BLR285027,Success,CUST78912,eBike,Horamavu,Bommanahalli,2.5,6.3,0,NaN,0,NaN,0,NaN,1243.56,24.64,3.2,3.1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               100000 non-null  object
 1   Time                               100000 non-null  object
 2   Booking ID                         100000 non-null  object
 3   Booking Status                     100000 non-null  object
 4   Customer ID                        100000 non-null  object
 5   Vehicle Type                       100000 non-null  object
 6   Pickup Location                    100000 non-null  object
 7   Drop Location                      100000 non-null  object
 8   Avg VTAT                           62122 non-null   float64
 9   Avg CTAT                           62122 non-null   float64
 10  Cancelled Rides by Customer        100000 non-null  int64
 11  Reason for Cancelling by Customer  12708 non-null   object
 12  Cancelled Rides by Driver          100000 non-null  int64
 13  Reason for Cancelling by Driver    12544 non-null   object
 14  Incomplete Rides                   100000 non-null  int64
 15  Incomplete Rides Reason            12626 non-null   object
 16  Booking Value                      62122 non-null   float64
 17  Ride Distance                      62122 non-null   float64
 18  Driver Ratings                     62122 non-null   float64
 19  Customer Rating                    62122 non-null   float64
dtypes: float64(6), int64(3), object(11)
memory usage: 15.3+ MB

In [8]:
df.isnull()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Reason for Cancelling by Customer,Cancelled Rides by Driver,Reason for Cancelling by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating
0,False,False,False,False,False,False,False,False,True,True,False,True,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,True,True,False,True,False,False,False,True,True,True,True,True
2,False,False,False,False,False,False,False,False,True,True,False,True,False,True,False,False,True,True,True,True
3,False,False,False,False,False,False,False,False,True,True,False,False,False,True,False,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,False,False
99996,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,False,False
99997,False,False,False,False,False,False,False,False,True,True,False,True,False,False,False,True,True,True,True,True
99998,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,False,False
99999,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,False,False

In [11]:
df.fillna(pd.NA)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Reason for Cancelling by Customer,Cancelled Rides by Driver,Reason for Cancelling by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating
0,04-01-2024,10:30:00,BLR472042,Cancelled by Driver,CUST85100,Auto,Horamavu,Ulsoor,NaN,NaN,0,<NA>,1,Customer related issue,0,<NA>,NaN,NaN,NaN,NaN
1,26-01-2024,18:00:00,BLR839110,Cancelled by Driver,CUST18631,Prime Sedan,Marathahalli,Sanjaynagar,NaN,NaN,0,<NA>,1,More than permitted people in there,0,<NA>,NaN,NaN,NaN,NaN
2,08-01-2024,15:00:00,BLR114776,Incomplete,CUST40633,eBike,Kengeri,Basaveshwaranagar,NaN,NaN,0,<NA>,0,<NA>,1,Customer Demand,NaN,NaN,NaN,NaN
3,30-01-2024,16:15:00,BLR804774,Cancelled by Customer,CUST30251,Mini,Koramangala,Malleshwaram,NaN,NaN,1,Driver is not moving towards pickup location,0,<NA>,0,<NA>,NaN,NaN,NaN,NaN
4,05-01-2024,14:15:00,BLR285027,Success,CUST78912,eBike,Horamavu,Bommanahalli,2.5,6.3,0,<NA>,0,<NA>,0,<NA>,1243.56,24.64,3.2,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,28-01-2024,9:30:00,BLR874366,Success,CUST61525,Prime SUV,Vijayanagar,Basaveshwaranagar,7.0,5.9,0,<NA>,0,<NA>,0,<NA>,1246.81,8.63,3.7,3.8
99996,25-01-2024,1:45:00,BLR528407,Success,CUST66139,Auto,Sadashivanagar,Hennur,5.5,8.0,0,<NA>,0,<NA>,0,<NA>,1027.15,2.07,4.5,4.1
99997,16-01-2024,7:30:00,BLR436237,Cancelled by Driver,CUST73757,eBike,Frazer Town,KR Puram,NaN,NaN,0,<NA>,1,Personal & Car related issues,0,<NA>,NaN,NaN,NaN,NaN
99998,21-01-2024,10:00:00,BLR729466,Success,CUST19718,Prime SUV,Kengeri,Domlur,5.0,6.4,0,<NA>,0,<NA>,0,<NA>,271.05,34.95,3.8,3.0
99999,10-01-2024,2:30:00,BLR122388,Success,CUST71942,Prime Sedan,Lalbagh,Varthur,9.8,11.5,0,<NA>,0,<NA>,0,<NA>,1058.36,25.90,4.2,5.0